<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <!-- <div class="centered-form__box2"> -->
        <h1 class="text-center mb-2">
          <i class="fa fa-comments fa-2x"></i>
        </h1>
        <h1 class="text-center  mb-2">AttainU Chat</h1>
        <h2 class="text-center mb-3">
          <i class="fas fa-camera mt-4"></i> Upload Profile Picture
        </h2>
        <div>
            <h2 class="text-center mt-4">
              <form action="/users/avatar" method="POST" autocomplete="off" enctype="multipart/form-data">
                <label for="avatar">Select Image:</label>
                <h4 class="text-center mt-2"><input type="file" id="avatar" name="avatar" accept="image/*"></h4>
                <button type="submit" class="btn btn-primary btn-block mt-3">
                  Submit
                </button>
              </form>
            </h2>
          </div>
          <a href="/users/read" class="btn btn-block" style="background-color:rgb(0, 159, 207);color:white;width:auto;height:auto;">Go Back</a>
          <a href="/dashboard" class="btn btn-info btn-block">Go To Dashboard <i class="fa fa-backward fa-1x"></i></a>
      </div>
    </div>
  </div>
</body>