<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-2">
          <i class="fa fa-comments fa-2x"></i>
        </h1>
        <h1 class="text-center  mb-2">AttainU Chat</h1>
        <h2 class="text-center mt-2">Dashboard</h2>
        <div >
          <p style="text-align:center;"><img class="portrait" src="/users/image" alt = ""></p>
         </div>
           <p class="text-center lead">Welcome <%= user.name %></p>
           <%- include ('./partials/messages') %>
           <a href="/users/chat" class="btn btn-block my-2" style="background-color:rgb(9, 122, 60);color:white;width:auto;height:auto;">Create Chat Room <i class="fa fa-comments fa-1x"></i></a>
           <a href="/users/read" class="btn btn-block my-2" style="background-color:rgb(2, 188, 245);color:white;width:auto;height:auto;">My Account <i class="fa fa-user fa-1x"></i></a>
           <a href="/users/logout" class="btn btn-block my-2" style="background-color:rgb(231, 54, 54);color:white;width:auto;height:auto;">Logout</a>
           <button type="button" class="btn btn-info my-2" data-toggle="collapse" data-target="#demo">Listen To Music</button>
           <div id="demo" class="collapse">
             <p class="text-center mb-4" style="color:rgb(0, 134, 211);"><iframe src="https://open.spotify.com/embed/playlist/7kYR2Yo62D5K7UaQsyJ2qJ?si=uUE0qd3gSLSEDl9mkNpjNg" width="500" height="180" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>
      </div>
      <p class="text-center mb-2">Made with <span style="color: #e25555;">&#9829;</span> in India</p>
    </div>
  </div>
</body>