<head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-md-4 m-auto">
        <!-- <div class="card card-body"> -->
          <div class="centered-form__box3">
          <h1 class="text-center mb-2">
            <i class="fa fa-comments fa-2x"></i>
          </h1>
          <h2 class="text-center mb-2">AttainU Chat</h2>
          <form action="/chat.html">
              <label>Display name</label>
              <input class="form-control" type="text" name="username" placeholder="Display name" required>
              <label>Room</label>
              <input class="form-control" type="text" name="room" placeholder="Room" required>
              <button class="btn btn-success btn-block mt-2" >Join</button>
              <a href="/dashboard" class="btn btn-info btn-block">Go To Dashboard <i class="fa fa-backward fa-1x"></i></a>
          </form>
          </div>
          </div>
      </div>
          
  </body>